/* table{
    border: 2px solid black;

}
table td{
    border: 2px solid black;

}
.BotaoTriangulo{
    text-align: center;
    height:100%;
        width:100px;
} */
.Table{
    border: 2px solid black;
}
.td1{
    border: 2px solid black;
}
/* #TabelaPrinc{
    border: 0px solid white;
}
 */